@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);


@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

.ng-enter { 
	animation: slideInRight 0.25s both ease-in; 
	z-index: 8888; 
}

.ng-leave {
	animation: slideOutLeft 0.25s both ease-in;
	z-index: 9999; 	
}

html, body {

}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
}

body::-webkit-scrollbar, body *::-webkit-scrollbar { width: 0 !important }

a {
	color: inherit;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

.feed {
	position: fixed;
	width: 380px;
	top: 0;
	left: 0;
	overflow: scroll;
	height: 100%;
}

.content {
	min-height: 100%;
}


/* Shared style */

.header {
	height: 50px;
	background-color: #EA463D;
	text-align: center;
	line-height: 50px;
	color: rgba(255, 255, 255, .95);
	font-size: 16pt;
	font-weight: 100;
}

	.header .fa {
		float: left;
		margin-left:10px;
		font-size: 20pt;
		line-height: 50px;
		cursor: pointer;
	}

/* Home page */

#home .header {
	background-color: #404040;
	border-left: 1px solid #888;
}

#home .candidates {
	width: 90%;
	margin: auto;
}

#home .title {
	font-size: 17pt;
	  margin: 30px 0px 15px;
	  border-bottom: 1px solid #ccc;
	  padding-bottom: 5px;
}

#home .candidates .party {
	margin-bottom: 50px;
	display: block;
}

	#home .candidates .party:last-child {
		margin-bottom: 20px;
	}

#home .party .label {
	font-weight: 600;
	color: #404040;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 13pt;
}

#home .candidate {
  display: inline-block;
  padding: 10px;
  margin-right: 15px;
  text-align: center;
  background-color: #EA463D;
  color: white;
  margin-bottom: 18px;
  width: 120px;
  box-shadow: 2px 2px 12px 1px #777;
  font-weight: 300;
}

#home .candidate:hover {
	background-color: #952326;
}

#home .candidate img {
	width: 100%;
}

#home .splitSection {
	width: 44%;
  padding-left: 3%;
	display:inline-block;
	vertical-align: top;
	min-height: 200px;
}

#home .splitSection label {
	margin: 10px 0px;
}

#home .splitSection ul {
	list-style: none;
	padding: 0;
	margin: 0;

}

#home .splitSection ul li {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 13pt;
}

#home input {
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: Roboto, sans-serif;
	font-size: 12pt;
	margin-bottom: 15px;
}

#home .splitSection .label {
	color: #999;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: 300;
	margin-bottom: 5px;
}

/* Organization page */
#organization {
	
}

#organization table.entry .name {
	padding: 10px 15px 10px 10px;
	text-align:right;
	font-weight: 800;
}


#organization table.entry {
	width: 80%;
	margin: 30px auto;
}

#organization table.entry .info {
	width: 80%;
}


#organization table.entry td {
	vertical-align: top;
	padding-bottom: 15px;
}

#organization bar {
	background-color: #404040;
	display: block;
	color:  rgba(255,255,255,.95);
	padding: 10px 10px;
	height: 20px;
}

#organization table.staffers {
	color: #888;
}

#organization table.staffers td {
	padding: 5px 0px;
}

#organization table.staffers .staffer {
	font-weight: 800
}

	#organization table tr:hover {
		color: #404040;
	}

#organization table.staffers .year {
	width: 45px;
}

/* Network/history page styles */

#network {
}

#network .header {

}

#network .list {
	float: right;
	width: 200px;
	background-color: #404041;
	height: 100%;
	z-index:2;
	position:fixed;
	top: 0px;
	right: 0px;
	color: white;
	padding: 50px 15px 20px;
	overflow: scroll;
}

	#network .list.hidden {
		right: -200px;
	}
	
#network .list .title {
	font-weight: 800;
}

#network .list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	color: white;
	font-weight: 100;
	margin-top: 20px;
}

#network .list ul li {
	margin-bottom: 15px;
	position:relative;
}

	#network .list ul li:hover, #network .list ul li.selected {
		background-color: rgba(255,255,255,.9);
		color: #404041;
		cursor: pointer;
	}
	
	#network .list ul a:hover {
		color: #404041;
	}

#network .list ul li a {
	width: 100%;
	padding: 8px 8px;
	display: inline-block;
}

#network .list ul li .fa {
	position:absolute;
	top: 0px;
	right: 0px;
	display: none;
	opacity: .5;
	padding: 10px 10px;
}

	#network .list ul li:hover .fa{
		display: block;
	}
	
	#network .list ul li:hover .fa:hover {
		opacity: 1;
	}
	
	#network .list ul li.selected .fa {
		display: block;
	}

#network .list .clear {
	font-size: 11pt;
	padding-left: 10px;
	font-weight: 100;
	text-transform: uppercase;
	color: #999;
	margin-top: 10px;
}

	#network .list .clear:hover {
		color: #ccc;
		cursor: pointer;
		font-weight: 300;
	}

#network .list .spacer {
	height: 250px;
}

#network .network {
	text-align: center;
}

#network .network.partial {
	padding-right: 200px;
}



#network .year {
	padding-top: 10px;
	position: relative;
	padding-left: 40px;
}

#network .year:nth-child(2n){
	background-color: #eee;
}

#network .year:first-child {
	margin-top: 10px;
}

#network .year .label {
  transform: rotate(90deg);
  transform-origin: bottom left;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  padding-bottom: 5px;
  font-size: 14pt;
  color: #444;
  font-weight: 800;
}

#network .employer {
	display: inline-block;
	text-align: center;
	margin: 0px 5px 15px;
	vertical-align: top
}

	#network .employer:hover {
		cursor: pointer;
	}
	
#network .employer .count {
	background-color: #EA463D;
	display: inline-block;
	width: 35px;
	border-radius: 50%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	margin-bottom: 5px;
	font-size: 15pt;
	font-weight: 100;
	color: white;
}

	#network .employer .count:hover {
		background-color: #952326;
	}

#network .employer.selected .count {
	background-color: #952326;
}

#network .employer .name {
	text-align: center;
	width: 75px;
	font-size: 10pt;
}

#network .employer.selected .name {
	font-weight: 800;
}

#network .employer.faded {
	opacity: .5;
}

/* Staffer page styles */

#staffer {
	background-color: white;
	min-height: 100%;
}


#staffer table {
	width: 100%;
	border-collapse:collapse;
}

#staffer th {
	padding: 20px 10px 5px;
	font-weight: 800;
	text-align: left;
	font-size: 14pt;
}

	#staffer .year {
		width: 150px;
		padding-left: 20px;
	}

#staffer tr {
	
}

	#staffer tr:nth-child(2n+1) td {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	#staffer tr:nth-child(2n){
		background-color: #dadada;
	}

#staffer td {
	padding: 15px 10px;
}

/* Feed styles */

#feed {
	background-color: white;
	border-right: 10px solid #404041;	
}

#feed a {
	text-decoration: none;
	color: inherit;
}

	#feed a:hover {
		text-decoration: underline;
	}

#feed table {
	border-collapse: collapse;
	cell-spacing: 0;
	width: 100%;
}

#feed thead {
	background-color: #404041;
}

#feed td, #feed th {
	vertical-align: top;
	border-top: 1px solid #ccc;
	padding: 15px 20px;
}

#feed th {
	padding: 0px 20px;
	border-top: 0;
	color: white;
	font-weight: 300;
	height: 50px;
	vertical-align: middle;
}

#feed th:nth-child(2){
	text-align: left;
	border-left: 1px solid #ccc;
}

#feed .date {
	color: #EA463D;
	font-weight: 600;
	font-size: 11pt;
	text-align: right;
	padding-right: 15px;
}

#feed .info {
	padding-left: 15px;
	font-size: 11pt;
	color: #404041;
	font-weight: 300;
}

	#feed .info .name {
		font-weight: 400;
	}

	#feed .info .action {
		color: #808284;
	}