@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

html, body {

}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
}

.feed {
	position: fixed;
	width: 380px;
	top: 0;
	left: 0;
	overflow: scroll;
	height: 100%;
}

.content {
	min-height: 100%;
}


/* Staffer page styles */

#staffer {
	background-color: white;
	min-height: 100%;
}

#staffer .header {
	height: 50px;
	background-color: #EA463D;
	text-align: center;
	line-height: 50px;
	color: rgba(255, 255, 255, .95);
	font-size: 16pt;
}

#staffer table {
	width: 100%;
	border-collapse:collapse;
}

#staffer th {
	padding: 20px 10px 5px;
	font-weight: 800;
	text-align: left;
	font-size: 14pt;
}

	#staffer .year {
		width: 150px;
		padding-left: 20px ;
	}

#staffer tr {
	
}

	#staffer tr:nth-child(2n+1) td {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}

	#staffer tr:nth-child(2n){
		background-color: #dadada;
	}

#staffer td {
	padding: 15px 10px;
}

/* Feed styles */

#feed {
	background-color: white;
	border-right: 10px solid #404041;	
}

#feed a {
	text-decoration: none;
	color: inherit;
}

	#feed a:hover {
		text-decoration: underline;
	}

#feed table {
	border-collapse: collapse;
	cell-spacing: 0;
	width: 100%;
}

#feed thead {
	background-color: #404041;
}

#feed td, #feed th {
	vertical-align: top;
	border-top: 1px solid #ccc;
	padding: 15px 20px;
}

#feed th {
	padding: 0px 20px;
	border-top: 0;
	color: white;
	font-weight: 300;
	height: 50px;
	vertical-align: middle;
}

#feed th:nth-child(2){
	text-align: left;
	border-left: 1px solid #ccc;
}

#feed .date {
	color: #EA463D;
	font-weight: 600;
	font-size: 14pt;
	text-align: right;
	padding-right: 15px;
}

#feed .info {
	padding-left: 15px;
	font-size: 11pt;
	color: #404041;
	font-weight: 300;
}

	#feed .info .name {
		font-weight: 400;
	}

	#feed .info .action {
		color: #808284;
	}