@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);


@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutLeft {
    to      { margin-left: -275px; opacity: 0; }
}

@keyframes fadeOut {
	from { opacity: 1 }
	to { opacity: 0 }
}

/*
.ng-enter { 
	animation: slideInRight 0.25s both ease-in; 
	z-index: 8888; 
}

.ng-leave {
	animation: slideOutLeft 0.25s both ease-in;
	z-index: 9999; 	
}
*/

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes slideIn {
	from { padding-right: 500px; }
	to { padding-right: 0px }
}

html, body {

}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
}

//body::-webkit-scrollbar, body *::-webkit-scrollbar { width: 0 !important }

strong {
	font-weight: 800;
}

.mobile {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

.feed {
	position: fixed;
	width: 380px;
	top: 0;
	left: 0;
	overflow: scroll;
	height: 100%;
}

.content {
	min-height: 100%;
}


/* Shared style */

.mobile-header {
	display: none;
}

.header {
	height: 40px;
	background-color: #EA463D;
	text-align: center;
	line-height: 40px;
	color: rgba(255, 255, 255, .95);
	font-size: 14pt;
	font-weight: 100;
}

	.header .fa {
		float: left;
		margin-left:10px;
		font-size: 20pt;
		line-height: 40px;
		cursor: pointer;
	}
	
.social {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	padding-left: 10px;
}

.lead-title {
	text-align: center;
	margin: 30px 0px 30px;
	font-size: 20pt;
	font-weight: 900;
}

.data table {
	margin: auto;
	font-size: 12pt;
	border-collapse: collapse;
	width: 100%;
	font-weight: 300;
}

.data th {
	text-align: left;
}

.data th:not(.cap){
	width:20%;
	color:#808080;
}

.data tr {
	opacity: 1;
	height: 0;
	overflow: hidden;
}

.data table tbody tr:nth-child(2n+1){
	background-color: #eee;
}

.data td, .data th {
	padding: 10px 20px 10px;
	position: relative;
}

.data td strong {
	font-weight: 900;
}


/* Home page */

#home .header {
	background-color: #404040;
	border-left: 1px solid #888;
}

#home .candidates {
	width: 90%;
	margin: auto;
}

#home .title {
	font-size: 17pt;
	  margin: 30px 0px 15px;
	  border-bottom: 1px solid #ccc;
	  padding-bottom: 5px;
}

#home .hero {
	width: 90%;
	margin: 20px auto;
}

#home .hero .title {
	font-size: 45pt;
	font-weight: 100;
	border: 0;
	font-weight: 800;
	color: #404040;
	line-height: 1.1em;

}

#home .hero .title span {
	color: #EA463D;
	display: inline-block;
	padding: 0px 0px;
}

#home .hero .text {
	  font-size: 14pt;
	  font-weight: 300;
	  max-width: 600px;
	  width: 100%;
	  line-height: 1.3em;
}

#home .candidates a {
	text-decoration: none;
}

#home .candidates .party {
	margin-bottom: 50px;
	display: block;
}

	#home .candidates .party:last-child {
		margin-bottom: 20px;
	}

#home .party .label {
	font-weight: 600;
	color: #404040;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 13pt;
}

#home .candidate {
  display: inline-block;
  padding: 10px;
  margin-right: 15px;
  text-align: center;
  background-color: #EA463D;
  color: white;
  margin-bottom: 18px;
  width: 120px;
  box-shadow: 2px 2px 12px 1px #777;
  font-weight: 300;
}

#home .candidate:hover {
	background-color: #952326;
}

#home .candidate img {
	width: 100%;
	background-color: white;
}

#home .splitSection {
	width: 44%;
  padding-left: 3%;
	display:inline-block;
	vertical-align: top;
	min-height: 200px;
}

#home .splitSection label {
	margin: 10px 0px;
}

#home .splitSection ul {
	list-style: none;
	padding: 0;
	margin: 0;

}

#home .splitSection ul li {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 13pt;
}

#home input {
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: Roboto, sans-serif;
	font-size: 12pt;
	margin-bottom: 15px;
	width: 92%;
}

#home .splitSection .label {
	color: #999;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: 300;
	margin-bottom: 5px;
}

/* Organization page */
#organization {
	
}

#organization .header {
	background-color: #d5b329;
	color: white;
}

#organization .organization  {
	text-align: center;
	margin: 30px 0px 30px;
	font-size: 22pt;
	font-weight: 900;
}

#organization .organization .lead-title {
	margin-bottom: 0;
}

#organization .organization strong {
	color: #d5b329;
}

#organization .organization .small {
	font-size: 15pt;
	font-weight: 400;
}


#organization .portraits {
	text-align: center;
	padding: 0px 0px 20px;
}

#organization .portraits a {
	text-decoration: none;
}

#organization .portrait {
	display: inline-block;
	overflow: hidden;
	position:relative;
	font-weight: 400;
	margin: 0px 15px 10px;
	font-size: 12pt;
}

	#organization .portrait:hover {
		cursor: pointer;
	}

#organization .portrait img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
	margin: 5px auto 10px;
	background-color: rgba(213, 179, 41, 0.47)
}

#organization .portrait .image {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
	margin: 5px auto 10px;
	background-color: rgba(213, 179, 41, 0.47);
	background-size: cover;
}

	#organization .portrait:hover img {
			background-color: rgba(213, 179, 41, 1);
	}

#organization .portrait .sticker {
	width: 100px;
	height: 100px;
	vertical-align: middle;
	display: table-cell;
	background-color: rgba(255,255,255,.8);
	border-radius: 50%;
}

#organization .sticker strong {
	display: block;
}

#organization .sticker small {
	text-transform: uppercase;
	font-size: 10pt;
	font-weight:500;
	display:block;
	margin-top: 5px;
}

#organization .data {

	margin: auto;
	padding-bottom: 20px;
}



#organization .entry .name {
	padding: 0px 15px 10px 10px;
	text-align:right;
	font-weight: 800;
}

#organization tr.ng-leave {

}

#organization tr.ng-enter {

}


#organization .entry {
	width: 80%;
	margin: 30px auto;
	max-width: 500px;
}

#organization .entry .info {
	width: 80%;
	padding-top: 0px;
	padding-bottom: 50px;
}



/* Network/history page styles */

#network {
}

#network .lead-title strong { 
	color: #EA463D;
}


#network .clusters, #network .singles {

	display: block;
	text-align: right;
	vertical-align: top;
	margin:auto;
	text-align:center;
}

#network .clusters {
	margin-bottom: 20px;
}


#network .employer:hover {
	cursor: pointer;
}

#network .singles .employer {
	display: inline-block;
	margin: 0px 5px 15px;
	width: 125px;
	vertical-align:top;
}

#network .singles .employer .count {
	width: 30px;
	font-weight: 800;
	vertical-align: top;
	border-radius: 50%;
	padding-right: 5px;
	  color: rgba(255,255,255,.95);
	
}

#network .singles .employer .count .circle {
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
	border-radius: 50%;
	border: 1px solid #EA463D;
	background-color: #EA463D;

  font-weight: 100;
  font-size: 10pt;
}


#network .singles .employer .name {
	text-align: left;
	width: 75px;
	font-size: 10pt;
}

	#network .singles .employer:hover .name {
		text-decoration: underline;
	}

#network .clusters .employer {
	display: inline-block;
	text-align: center;
	margin: 0px 5px 10px;
	vertical-align: top
}

#network .clusters .employer .count {
	background-color: #EA463D;
	display: inline-block;
	width: 35px;
	border-radius: 50%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	margin-bottom: 5px;
	font-size: 13pt;
	font-weight: 100;
	color: white;
}

#network .clusters .employer .name {
	text-align: center;
	width: 65px;
	font-size: 10pt;
}



/* Staffer page styles */

#staffer {
	background-color: white;
	min-height: 100%;
}

#staffer .header {
	background-color: #649985;
}

#staffer .lead-title strong {
	color: #649985;
}

#staffer .none-found {
	color: #999;
	font-weight: 100;
}

#staffer #all-staffers{ 
	white-space: pre-line;
    height: 200px;
    overflow-y: hidden;
    position: relative;
}

/* Feed styles */

#feed {
	background-color: white;
	border-right: 10px solid #404041;	
}

.feed .head {
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #404040;
	color: white;
	font-size: 14pt;
}

#feed a {
	text-decoration: none;
	color: inherit;
}

	#feed a:hover {
		text-decoration: underline;
	}

#feed table {
	border-collapse: collapse;
	cell-spacing: 0;
	width: 100%;
	border-top: 1px solid #ccc;
}

#feed thead {
	background-color: #606060;
}

#feed thead.floating {
	position:fixed;
	top: 0;
	left: 0;
}

#feed td, #feed th {
	vertical-align: top;
	border-top: 1px solid #ccc;
	padding: 15px 20px;
}

#feed th {
	padding: 10px 20px;
	border-top: 0;
	color: white;
	font-weight: 300;
	vertical-align: middle;
	width: 82px;
}

#feed th:nth-child(2){
	text-align: left;
	border-left: 1px solid #ccc;
	width: 207px;
}

#feed .date {
	color: #EA463D;
	font-weight: 600;
	font-size: 11pt;
	text-align: right;
	padding-right: 15px;
}

#feed .info {
	padding-left: 15px;
	font-size: 11pt;
	color: #404041;
	font-weight: 300;
}

	#feed .info .name {
		font-weight: 400;
	}

	#feed .info .action {
		color: #808284;
	}
	
	
#search {
	
}

#search .prompt {
	text-align: center;
	padding: 20px;
}
	
#search ul, #search li {
	padding: 0;
	margin: 0;
	list-style: none;
}
	
#search li {
	padding: 15px;
  text-align: center;
  background-color: #eee;
  border-top: 1px solid #ccc;
}	

	#search a:last-child li {
		border-bottom: 1px solid #ccc;
	}

/* Mobile styles */

@media screen and (max-width: 700px) {
	
	.desktop {
		display: none;
	}
	
	.mobile {
		display: block;
	}
	
	.content {
		margin-top: 60px;
	}
	
	.mobile-header {
		display: block;
		z-index: 2;
		background-color: #404040;
		height: 60px;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		text-align: center;
		color: rgba(255,255,255,.95);
		line-height: 60px;
		font-size: 16pt;
		font-weight: 100;
	}

	.header .social {
		display:none;
	}
	
	#organization .cap {
		display: none;
	}

	#organization .data table {
		font-size: 10pt;
		
	}
	
	#organization .data td, #organization .data th {
		min-width: 10px;
	}

	#organization .portrait img {
		width: 100px;
		height: 100px;
	}

	#home .right {
		display:none;
	}
	
	#home .feed {
		position: static;
		width: 100%;
	}
	
	#home .mobile-parties {
		width: 100%;
		margin: 20px auto;
	}
	
	#home .mobile-title {
		font-size: 12pt;
		font-weight: 600;
		color: 404040;
		text-transform: uppercase;
		margin-bottom: 15px;
		padding-left: 15px;
	}
	
	#home .mobile-candidate {
		background-color: #EA463D;
		height: 60px;
		line-height: 60px;
		border-bottom: 1px solid rgba(255,255,255,.8);
		overflow: hidden;
		color: white;
	}
	
	#home .mobile-candidate img {
		height: 80%;
		position: relative;
		top: 10%;
		margin: 0px 15px 0px 10px;
		border-radius: 50%;
	}
	
	#home .mobile-candidate .text {
		display: inline-block;
		vertical-align:top;
		font-size: 14pt;
		font-weight: 100;
	}
	
	#home form {
		margin-top:30px;
	}
	
	#home .mobile-search-label {
		padding: 10px;
	  font-weight: 500;
	  color: #404040;
	}
	
	#home .mobile-text {
		margin: 0px auto 10px;
	  	display: block;
		padding: 10px;
	}
	
	#home .mobile-submit {
		margin: auto;
		  display: block;
		  padding: 14px;
		  width: 96%;
	}
	
	#feed {
		border: 0;
		overflow:hidden;
		transition: .25s all ease-in;
	}
	
	#feed thead {
		background-color: #EA463D;
	}
	
	.more {
		width: 90%;
		  margin: 10px auto;
		  text-align: center;
		  padding: 15px 0px;
		  background-color: #404040;
		  color: rgba(255,255,255,.95);
		  font-size: 14pt;
		  border-radius: 5px;
		cursor: pointer;
		border: 1px solid white;
	}
	
	#network .header {
		padding-bottom: 0;
	}
	
	#network .header .title {
		padding: 0;
	}
	
	#network .portrait {
		display: none;
	}
	
	#network .info {
		display: none;
	}
	
	#network .network {
		display: none;
	}
	
	#network .list {
		display: none;
	}
	
	#network .mobile-label {
		padding: 10px 15px;
	  background-color: #606060;
	  color: rgba(255,255,255,.95);
	  font-weight: 500;
	}
	
	#network .mobile-employer {
		background-color: white;


		overflow: hidden;
		color: #404040;
		border-bottom: 1px solid #ccc;
		position: relative;
	}
	
	
	#network .mobile-employer .head {
		height: 60px;
		line-height: 60px;
		position:relative;
		padding: 0px 15px;
	}
	
		#network .mobile-employer:last-child {
			border: 0;
		}
		
	#network .mobile-toggle {
		position: absolute;
		top: 0px;
		right: 15px;
		color: #A0A0A0;
		font-size: 20pt;
	}
	
	#network .mobile-count {
		color: #EA463D;
		font-size:16pt;
		font-weight: 600;
		display:inline-block;
		width: 35px;
		text-align: center;
		margin-right: 10px;
	}

	#network .mobile-name {
		color: #404040;
		display: inline-block;
		vertical-align: top;
		font-weight: 300;
	}
	
	#network .mobile-employees {
		height: 0px;
		transition: .5s all ease-in;
	}

	#network .mobile-employee {
		padding: 20px 0px 20px 65px;
		background-color: rgba(234, 70, 61, 0.7);
		color: black;
		opacity: .75;

		font-weight: 400;
		transition: .5s all;

		
		padding: 20px 0px 20px 65px;
		border-bottom: 1px solid rgba(0,0,0,.6);
		
	}

	#network .mobile-employees.show {
		height: auto;
	}

	.header {
		font-size:12pt;
	}
	
}
