<div id = "footer">
	
	<table>
		<tr>
			<td class="logo">
				<img src="img/NJlogo.png" />
			</td>
			<td class="explainer">
				This page covers highlights of staffers' previous work for major candidates in prior elections. These roles were collected from official bios, LinkedIn, recent press reports, and our own reporting. For corrections, additions, and updates, please contact <strong><a href="mailto:staffertracker@nationaljournal.com">staffertracker@nationaljournal.com</a></strong>.
			</td>
			<td class="credits">
				<strong>We made this</strong>
				<ul>
					<li><a href="http://twitter.com/Zachary_Cohen">Zach Cohen</a></li>
					<li><a href="http://twitter.com/libbyisenstein" target="blank">Libby Isenstein</a><li>
					<li><a href="http://twitter.com/andrewmcgill" target="blank">Andrew McGill</a></li>
				</ul>
			</td>
			<td class="thanks">
				<table>
					<tr>
						<td><strong>Special thanks to:</td>
						<td>Colby Bermel</td>
						<td>Stephanie Stamm</td>
					</tr>
						<td>Kimberly Railey</td>
						<td>Emily Schultheis</td>
						<td>Clare Foran</td>				
					<tr>
					</tr>
					<tr>
						<td>Lisa Hagen</td>			
						<td>Jack Fitzpatrick</td>
						<td>Josh Kraushaar</td>
					</tr>
					<tr>
						<td>Zach Montellaro</td>
						<td>Emma Roller</td>
						<td>Scott Bland</td>				
					</tr>
				</table>

			</td>
		</tr>



	
	
	

	
	
	<div class="clear:both"></span>
</div>