<!-- Get excited -- it's OMNITURE TIME-->
<script>var OMNITURE_REPORT_SUITE = "atlanticnationaljournal2013prod";</script>
<script src="http://www.nationaljournal.com/js/libs/omniture/core.js"></script>
<script>
    var s = s || {};
            s.prop1 = '';
            s.prop2 = '';
            s.prop3 = 'twentysixteen campaign staffer tracker andrew mcgill';
            s.prop4 = '1988050219860613';
            s.prop5 = 'story';
            s.prop6 = 'twentysixteen';
            s.prop7 = '';
            s.prop8 = '';
            s.prop9 = '';
            s.prop10 = '';
            s.prop11 = '12';
            s.prop12 = 'monday';
            s.prop13 = '';
            s.prop14 = '';
            s.prop15 = 'andrew mcgill';
            s.prop16 = 'free';
            s.prop17 = 'free';
            s.prop18 = '/staffertracker';
            s.prop19 = '';
            s.prop20 = '/staffertracker';
            s.prop21 = '';
            s.prop22 = '';
            s.prop23 = '';
            s.prop24 = '';
            s.prop25 = '';
            s.prop26 = '';
            s.prop27 = '';
            s.prop28 = '';
            s.prop29 = '';
            s.prop30 = '';
            s.prop31 = '';
            s.prop32 = '';
            s.prop33 = '';
            s.prop34 = '';
            s.prop35 = '';
            s.prop36 = '';
            s.prop37 = '';
            s.prop38 = '';
            s.prop39 = '';
            s.prop40 = '';
            s.prop41 = 'libby isenstein';
            s.prop42 = 'zach cohen';
            s.prop43 = '';
            s.prop44 = '';
            s.prop45 = '';
            s.prop46 = '';
            s.prop47 = '';
            s.prop48 = '';
            s.prop49 = '';
            s.prop50 = '';
            s.prop51 = '';
            s.prop52 = '';
            s.prop53 = 'twentysixteen campaign staffer tracker';
            s.prop54 = '';
            s.prop55 = '';
            s.prop56 = '';
            s.prop57 = '';
            s.prop58 = '';
            s.prop59 = '';
            s.prop60 = '';
            s.prop61 = '';
            s.prop62 = '';
            s.prop63 = '';
            s.prop64 = '';
            s.prop65 = '';
            s.pageName = '';
            s.channel = '';
</script>